<!-- FIRST NAME
LAST NAME
EMAIL ID
PASSWORD
RESET PASSWORD
MOBILE NO
GENDER
ADDRESS -->

<div class="header">Update your template form</div>

<div class="container c1">
  <form name="form" #myForm="ngForm">
    <!-- <div class="container"> -->
    <div class="row mb-3">
      <span for="err" class="form-label err">{{ nameError }}</span>
      <div class="input-group">
        <span class="input-group-text">First and last name</span>
        <input
          type="text"
          required="required"
          name="fname"
          aria-label="First name"
          placeholder="Enter first name"
          class="form-control"
          #fname
          ngModel
        />
        <input
          type="text"
          aria-label="Last name"
          name="lname"
          placeholder="Enter last name"
          class="form-control"
          #lname
          ngModel
        />
      </div>
    </div>

    <div class="row mb-3 no-gutter">
      <span for="err" class="form-label err">{{ emError }}</span>

      <div class="input-group has-validation">
        <!-- <label for="exampleInputEmail1" class="form-label">Email: </label> -->

        <span class="input-group-text">Email</span>
        <input
          type="email"
          name="email"
          class="form-control has-validation"
          id="exampleInputEmail1"
          placeholder="Enter email-id"
          aria-describedby="emailHelp"
          #email
          required="required"
          ngModel
        />
      </div>
    </div>

    <div class="row mb-3">
      <span for="err" class="form-label err">{{ pwError }}</span>
      <div class="input-group">
        <span class="input-group-text">Password</span>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Enter password"
          id="inputPassword"
          #password
          ngModel
        />
      </div>
    </div>

    <div class="row mb-3">
      <span for="err" class="form-label err">{{ pwError }}</span>
      <div class="input-group">
        <span class="input-group-text">Confirm Password</span>
        <input
          type="password"
          name="rpassword"
          class="form-control"
          id="resetPassword"
          placeholder="Re-type password"
          #passwordConfirm
          ngModel
        />
      </div>
    </div>
    <div class="row mb-3">
      <span for="err" class="form-label err">{{ mobError }}</span>
      <div class="input-group">
        <span class="input-group-text">Mobile Number</span>
        <input
          type="tel"
          class="form-control"
          name="mobile"
          id="phone"
          placeholder="Enter mobile "
          #mobile
          ngModel
        />
      </div>
    </div>

    <div class="row mb-3">
      <span for="err" class="form-label err">{{ addrError }}</span>
      <div class="input-group">
        <span class="input-group-text">Address</span>
        <input
          type="text"
          class="form-control"
          name="address"
          id="text"
          placeholder="Enter address"
          #address
          ngModel
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="gender" class="form-label" required="required"> Gender</label>
      <div class="form-check">
        <input
          class="form-check-input ms-8"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label class="form-check-label" for="flexRadioDefault1"> Male </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          checked
        />
        <label class="form-check-label" for="flexRadioDefault2"> Female </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault3"
          checked
        />
        <label class="form-check-label" for="flexRadioDefault3"> Other </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="sendData(myForm)">
      Submit
    </button>
    <!-- </div> -->
  </form>
</div>
